@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background: #fefefe;
}
/* body::-webkit-scrollbar{
  width: 10px;
} */
body::-webkit-scrollbar-thumb{
  width: 8px;
  color: #222;
}
:root {
  --swiper-theme-color: #fff !important;
}
.box-shadow{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.footer-bg{
  width: 100%;
  background-image: linear-gradient(#efefefc0, #efefefc0), url("../../public/footer-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}