@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --swiper-theme-color: #fff !important;
  -webkit-tap-highlight-color: transparent;
}
body{
  background: #fcfcfc;
}
body::-webkit-scrollbar-thumb{
  width: 8px;
  color: #222;
}
.scroll-none::-webkit-scrollbar, .similarProperties::-webkit-scrollbar{
  width: 0px;
}
.box-shadow{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.footer-bg{
  width: 100%;
  background-image: linear-gradient(#efefefe1, #efefefe1), url("../../public/footer-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}